<div class="container h-100">
  <div class="row h-100 align-items-center justify-content-center mx-auto">
    <div class="col border border-dark rounded text-center py-3 mx-4">
      <div class="row my-3">
        <div class="col">
          <%if user_signed_in?%>
            <% if user.id == current_user.id %>
            <form action=<%= profile_update_path(user.id)%> method="post" id="profile-form">
              <input type="text" name="username" form="profile-form" value=<%= user.username%>>
            </form>
            <% else %>
              <h3><%= user.username %></h3>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <h3><%= user.role.role_name %></h3>
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <h3>Biography</h3>
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <%if user_signed_in?%>
            <% if user.id == current_user.id %>
              <textarea form="profile-form" name="biography"><%= user.user_profile.biography%></textarea>
            <% else %>
            <div class="col border rounded py-3 px-5">
              <%= user.user_profile.biography %>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row my-3">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <button type="button" class="btn btn-outline-dark">Geofence</button>
            </div>
            <div class="col-sm">
              <ul class="list-group list-group-flush">
                <%if user_signed_in?%>
                  <% if user.id == current_user.id %>
                  <select name="location_id" form="profile-form">
                    <% Location.all.each do |location| %>
                      <% if user.location.id == location.id %>
                        <option form="profile-form" value=<%= location.id%> selected > <%= location.country%>, <%=location.region%> </option>
                      <% else %>
                        <option value=<%= location.id%>> <%= location.country%>, <%=location.region%> </option>
                      <% end %>
                    <% end %>
                  </select>
                    <input type="submit" value="update" form="profile-form">
                  <% else %>
                    <a href="#" class="list-group-item"> <%= user.location.region %></a>
                    <a href="#" class="list-group-item"> <%= user.location.country %></a>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
