<div class="container h-100">
  <div class="row align-items-center justify-content-center border border-dark rounded py-3">
    <%= form_tag(profile_path(@user.id), method: "get") do %>
      <%= hidden_field_tag(:history, 'all') %>
      <% if not ["Created","Shared","Commented","Upvoted","Downvoted"].include? params[:commit] %>
        <%= submit_tag("All", class: "btn btn-primary") %>
      <% else %>
        <%= submit_tag("All", class: "btn btn-outline-dark") %>
      <% end %>
    <% end %>
    <%= form_tag(profile_path(@user.id), method: "get") do %>
      <%= hidden_field_tag(:history, 'created') %>
      <% if params[:commit] == "Created" %>
        <%= submit_tag("Created", class: "btn btn-primary") %>
      <% else %>
        <%= submit_tag("Created", class: "btn btn-outline-dark") %>
      <% end %>
    <% end %>
    <%= form_tag(profile_path(@user.id), method: "get") do %>
      <%= hidden_field_tag(:history, 'shared') %>
      <% if params[:commit] == "Shared" %>
        <%= submit_tag("Shared", class: "btn btn-primary") %>
      <% else %>
        <%= submit_tag("Shared", class: "btn btn-outline-dark") %>
      <% end %>

    <% end %>
    <%= form_tag(profile_path(@user.id), method: "get") do %>
      <%= hidden_field_tag(:history, 'commented') %>
      <% if params[:commit] == "Commented" %>
        <%= submit_tag("Commented", class: "btn btn-primary") %>
      <% else %>
        <%= submit_tag("Commented", class: "btn btn-outline-dark") %>
      <% end %>
    <% end %>
    <%= form_tag(profile_path(@user.id), method: "get") do %>
      <%= hidden_field_tag(:history, 'upvoted') %>
      <% if params[:commit] == "Upvoted" %>
        <%= submit_tag("Upvoted", class: "btn btn-primary") %>
      <% else %>
        <%= submit_tag("Upvoted", class: "btn btn-outline-dark") %>
      <% end %>
    <% end %>
    <%= form_tag(profile_path(@user.id), method: "get") do %>
      <%= hidden_field_tag(:history, 'downvoted') %>
      <% if params[:commit] == "Downvoted" %>
        <%= submit_tag("Downvoted", class: "btn btn-primary") %>
      <% else %>
        <%= submit_tag("Downvoted", class: "btn btn-outline-dark") %>
      <% end %>
    <% end %>
  </div>

  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col">
        <ul class="list-unstyled">
          <% @history_elements.each do |element| %>
          <li class="my-1 py-3">
            <div class="border border-dark rounded-top">
              <h3 class="font-weight-bold text-center">
                <%= element[1] %>
              </h3>
            </div>
            <%= render 'shared/post_list_element', :post => element[0]  %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>
