<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :role_id %>
    <% if is_user_super_admin? %>
      <%= form.collection_select :role_id, Role.all, :id, :role_name %>
    <% else %>
      <%= form.collection_select :role_id, Role.where("id < 3"), :id, :role_name %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.collection_select :location_id, Location.all, :id, :country_region, :include_blank => 'None' %>
  </div>

  <div class="field">
    <%= form.label :geofence_id %>
    <%= form.collection_select :geofence_id, Geofence.all, :id, :name, :include_blank => 'None' %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
