<div class="container">
  <div class="row border border-dark rounded">
    <div class="col-2 py-2 bg-light">
      <div class="row">
        <div class="col text-center">
          <% if current_user != nil && post.upvoted_by_user(current_user.id) %>
            <a type="button" class="btn btn-primary text-light">^</a>
          <% else %>
            <a type="button" class="btn btn-outline-dark text-dark" href=<%= upvote_path({id: post.id}) %>>^</a>
          <% end %>
          <p class="h4"><%= post.score %></p>
          <% if current_user != nil && post.downvoted_by_user(current_user.id) %>
            <a type="button" class="btn btn-primary text-light">v</a>
          <% else %>
            <a type="button" class="btn btn-outline-dark text-dark" href=<%= downvote_path({id: post.id}) %>>v</a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col border">
      <div class="row">
        <div class="col">
          <h4 class="text-truncate"><%= link_to post.title, post %></h4>
          <h6>By <span><%= link_to post.user.username, profile_path(post.user.id)%> <%= "(" + time_ago_in_words(post.created_at) + " ago)"%></span></h6>
        </div>
      </div>
      <div class="row border-top h-50">
        <div class="col">
          <p class="block-with-text"><%= post.description %></p>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
    <div class="col-3 py-2 bg-light">
      <div class="btn-group-vertical w-100" role="group">
        <% if post.followed_by_user(current_user.id) %>
          <a type="button" class="btn btn-primary text-light" href=<%= post_follow_path({id: post.id}) %>>Followed</a>
        <% else %>
          <a type="button" class="btn btn-outline-dark text-dark" href=<%= post_follow_path({id: post.id}) %>>Follow</a>
        <% end %>
        <% if post.shared_by_user(current_user.id) %>
          <a type="button" class="btn btn-primary text-light" href=<%= post_share_path({id: post.id}) %>>Shared</a>
        <% else %>
          <a type="button" class="btn btn-outline-dark text-dark" href=<%= post_share_path({id: post.id}) %>>Share</a>
        <% end %>
        <% if post.reported_by_user(current_user.id) %>
          <a type="button" class="btn btn-primary text-light">Reported</a>
        <% else %>
          <a type="button" class="btn btn-outline-dark text-dark" href=<%= post_report_path({id: post.id}) %>>Report</a>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
