<% @left_side_bar = render :partial => "searches/search_user_filter_bar" %>
<% @right_side_bar = render :partial => "admin_tools/user_tools_bar" %>
<div class="container h-100 mx-0">
  <div class="table-responsive">
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">Select</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Country</th>
          <th scope="col">Region</th>
          <th scope="col">Status</th>
          <th scope="col">Last Access</th>
          <th scope="col" colspan="3">Actions</th>
        </tr>
      </thead>
     
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1">
              </div>
            </td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.role.role_name %></td>
            <td><%= user.location.country if user.location != nil %></td>
            <td><%= user.location.region if user.location != nil %></td>
            <td>Normal</td>
            <td><%= user.last_sign_in_at %></td>
            <td><%= link_to 'View', user, :class => 'btn btn-dark btn-sm' %></td>
            <td>
              <% if !user.is_super_admin? %>
                <%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-dark btn-sm' %>
              <% else %>
                <% if is_user_super_admin? %>
                  <%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-dark btn-sm' %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if !user.is_super_admin? %>
                <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-dark btn-sm' %>
              <% else %>
                <% if is_user_super_admin? %>
                  <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-dark btn-sm' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

