<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col">
        <div>
          <%= form.label :title %>
        </div>
        <div>
          <%= form.text_field :title, style: 'width:100%;' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          <%= form.label :description %>
        </div>
        <div>
          <%= form.text_area :description, style: 'width:100%;' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="field">
          <%= form.label :images %>
          <%= form.file_field :images, multiple: true, accept: 'image/png,image/gif,image/jpeg' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="field">
          <%= form.label :location_id %>
          <%= form.collection_select :location_id, Location.all, :id, :country_region, :include_blank => 'None' %>
        </div>
      </div>
    </div>
  </div>
  <%= form.hidden_field :user_id, value: @post_owner %>
  <div class="actions rounded d-flex justify-content-center py-2">
    <%= form.submit%>
  </div>
<% end %>
