<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
  <%= link_to "GeoComplainer", root_path, :class => 'navbar-brand'%>
  <%= form_tag(search_path, method: "get", id: 'search_form', :class => "form-inline my-2 my-lg-0") do %>
    <% if params[:q] != nil%>
      <%= text_field_tag(:q, params[:q] ,pattern: '^(?!\s*$).+') %>
    <% else %>
      <%= text_field_tag(:q, nil ,pattern: '^(?!\s*$).+') %>
    <% end %>
    <input type="hidden" name="last_search" value=<%= params[:q]%>>
    <%= submit_tag("Search", :class => 'btn btn-outline-light mx-2 text-light') %>
  <% end %>
  <ul class="navbar-nav ml-md-auto">
    <%= link_to "New Complaint", new_post_path, :class => 'nav-item nav-link nav-element'%>
    <%= link_to current_user.username, profile_path(current_user.id), :class => 'nav-item nav-link nav-element'%>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-item nav-link nav-element' %>
  </ul>
</nav>
