<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="#" >GeoComplainer</a>
  <%= form_tag(search_path, method: "get", :class => "form-inline my-2 my-lg-0") do %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search", :class => 'btn btn-outline-light mx-2 text-light') %>
  <% end %>
  <ul class="navbar-nav ml-md-auto">
    <%= link_to "New Complaint", new_post_path, :class => 'nav-item nav-link nav-element'%>
    <%= link_to "[Username]", my_profile, :class => 'nav-item nav-link nav-element'%>
    <div class="btn-group" role="group">
      <button id="adminDrop" type="button" class="btn btn-outline-light mx-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrator Tools</button>
      <div class="dropdown-menu" aria-labelledby="adminDrop">
        <a class="dropdown-item" href="admin_tools">User Administration</a>
        <a class="dropdown-item" href="dumpster">Post Dumpster</a>
      </div>
    </div>
    <button class="btn btn-outline-light mx-2" type="button">Log Out</button>
  </ul>
</nav>
