<!DOCTYPE html>
<html>
  <head>
    <title>GeoComplainer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="container-fluid h-100" id="site-body">
      <div class="row my-2" id="header">
        <div class="col">
          <%= render_navbar %>
        </div>
      </div>
      <div class="row h-100 justify-content-md-center">
        <div class="col-md-3" id="left-side-bar">
          <%= @left_side_bar %>
        </div>
      
        <div class="col-md-6 h-100" id="main-content">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
      
        <div class="col-md-3" id="right-side-bar">
          <%= @right_side_bar %>
        </div>
      </div>
    </div>
  </body>
</html>
